h2{
    color:darkred;
    font-family: cursive;
    text-align: center;
}
p{
    color:black;
    font-family: fantasy;
    text-align: center;
}
.col-sm-4{
    border: solid;
}
p{
    color:black;
    font-family: fantasy;
    text-align: center;
}